.tag {
    color: #cd7f32;
}

.most-used-hashtag-box {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff15;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.animated-border-box,
.animated-border-box-glow {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    border-radius: 10px;
}

.animated-border-box-glow {
    overflow: hidden;
    filter: blur(20px);
}

.animated-border-box-gold:before,
.animated-border-box-gold-glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0), #ffbb29, rgba(0, 0, 0, 0) 25%);
    animation: rotate 4s linear infinite;
}

.animated-border-box-silver:before,
.animated-border-box-silver-glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0), #c2c2c2, rgba(0, 0, 0, 0) 25%);
    animation: rotate 4s linear infinite;
}

.animated-border-box-bronze:before,
.animated-border-box-bronze-glow:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0, 0, 0, 0), #cd7f32, rgba(0, 0, 0, 0) 25%);
    animation: rotate 4s linear infinite;
}

.animated-border-box:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background: #292a2e;
    border-radius: 7px;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
