.post-typer {
    width: 100%;
    min-height: 100px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 25px;
    resize: vertical;
    field-sizing: content;
}
.post-typer-button {
    width: 100%;
    /* margin-top: 20px; */
    padding-left: 5px;
    /* display: inline-block; */
    vertical-align: top;
}

.post-typer::placeholder {
    color: #ffffffa0;
}

.button-field.post-typer-sender {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
    margin-left: 5px;
}

.post-typer-emoji-picker {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 5px solid red;
}

.post-typer-buttons {
    margin-top: 10px;
}

.post-typer-button {
    cursor: pointer;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.3);
    margin-right: 10px;
    transition: color ease-in-out 150ms;
}

.post-typer-button:hover {
    color: rgba(255, 255, 255, 1);
}

.GifPickerReact {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin-top: 15px;
}

.post-typer-video-embed {
    position: relative;
}

.post-video-embed-button {
    cursor: pointer;
    font-size: 25px;
    float: right;
    color: rgba(255, 255, 255, 0.5);
    transition: color ease-in-out 150ms;
}
.post-video-embed-button:hover {
    color: rgba(255, 255, 255, 1);
}

.cpoll-date {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    margin-bottom: 10px;
}

.cpoll-option {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    transition: ease-in-out 150ms;
}

.cpoll-option-text {
    margin-top: 10px;
}
.cpoll-option button {
    float: right;
    margin-top: -45px;
    font-size: 15px;
}

.cpoll-decider-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}

.poll-remover {
    color: rgb(255, 35, 35);
    cursor: pointer;
    transition: ease-in-out 150ms;
}

.poll-remover:hover {
    color: rgb(202, 29, 29);
}
