.hive-box {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out 150ms;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.hive-box:hover {
    border: 1px solid rgba(var(--orange), 1);
}

.hive-box-banner {
    width: 100%;
    height: 150px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.hive-box-avatar {
    width: 75px;
    height: 75px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin-top: -20px;
}

.hive-box-username {
    margin-top: -48px;
    margin-left: 85px;
}

.hive-box-handle {
    margin-left: 85px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: -15px;
}

@media screen and (max-width: 500px) {
    .hive-box-username {
        margin-top: 10px;
        margin-left: 0px;
    }
    .hive-box-handle {
        margin-left: 0px;
    }
}

.bottom-padder {
    margin-bottom: -15px;
}

.hive-box-desc-container {
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    border-radius: 5px;
}

.hive-box-desc-header {
    margin-bottom: -15px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.hive-box-desc {
    margin-bottom: 10px;
}
