@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

@font-face {
    font-family: vga-font;
    src: url(/vga.ttf);
}

button {
    cursor: pointer;
}

body {
    background: black;
    color: white;
}

input,
button {
    /* background: rgb(255, 167, 52); */
    outline: none;
    border: none;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
}

body {
    margin: none;
    padding: none;
}

body,
input,
button,
a {
    font-family: "Open Sans", sans-serif;
}

form > a {
    word-wrap: break-word;
}

.home-box {
    overflow: auto;
    height: 100vh;
    width: 50%;
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px; /* width: ; */
}

.homebox1 {
    background-color: rgb(12, 12, 12);
}
.homebox2 {
    background-color: black;
    text-align: right;
    clear: both;
}
.homebox2 h1 {
    font-size: 55px;
    margin-top: 70px;
}
.homebox2 button {
    width: 100%;
}
.homebox2 > div > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homebox2 form {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    box-sizing: border-box;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.homebox2 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-boxes {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
}

.home-box-title {
    font-size: 80px;
    font-weight: 1000;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-box-title-re {
    font-size: 90px;
    font-family: vga-font;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.re-text {
    font-family: vga-font;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
    .home-boxes {
        flex-direction: column;
    }
    .homebox1 {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        flex-direction: column;
    }
    .homebox2 {
        text-align: left;
    }
    .home-box {
        height: 50vh;
        width: 100%;
    }
    .home-box-title {
        font-size: 60px;
    }

    .home-box-title-re {
        font-size: 75px;
    }

    .homebox2 > div > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homebox2 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* INPUT FIELD */
.input-field {
    background-color: rgb(17, 17, 17);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(17, 17, 17);
    transition: ease-in-out 150ms;
}

.input-field:hover {
    border: 1px solid rgba(255, 138, 71, 0.368);
}

.input-field:focus {
    border: 1px solid rgb(255, 139, 71);
}
/* BUTTON FIELD */

.button-field {
    background-color: rgb(255, 144, 70);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-weight: 1000;
    border: 1px solid rgb(17, 17, 17);
    transition: ease-in-out 150ms;
}

.button-field:hover {
    background-color: rgb(212, 121, 59);
}

.button-field-grayblack {
    background-color: rgb(49, 49, 49);
}

.button-field-grayblack:hover {
    background-color: rgb(32, 32, 32);
}

.button-field-blurple {
    background-color: rgb(81, 107, 255);
}

.button-field-blurple:hover {
    background-color: rgb(61, 82, 196);
}

.button-field-blue {
    background-color: rgb(81, 185, 255);
}

.button-field-blue:hover {
    background-color: rgb(57, 130, 179);
}

.button-field-red {
    background-color: rgb(255, 81, 81);
}

.button-field-red:hover {
    background-color: rgb(194, 62, 62);
}

.instead-anchor {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.homepage-links button {
    display: inline-block;
    margin-right: 15px;
    width: 55px;
    height: 55px;
}

.button-field-fixed {
    box-sizing: border-box;
    min-width: 55px;
    min-height: 55px;
}
