@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

@font-face {
    font-family: vga-font;
    src: url(/vga.ttf);
}

@font-face {
    font-family: gordin;
    src: url(/gordin-semibold.ttf);
}

@font-face {
    font-family: gordin;
    src: url(/gordin-bold.ttf);
    font-weight: bold;
}

button {
    cursor: pointer;
}

body {
    background: black;
    color: white;
}

input,
button {
    /* background: rgb(255, 167, 52); */
    outline: none;
    border: none;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

body {
    margin: none;
    padding: none;
}

body,
input,
button,
a,
textarea {
    font-family: "gordin", sans-serif;
}

form > a {
    word-wrap: break-word;
}

.home-box {
    overflow: auto;
    height: 100vh;
    width: 50%;
    box-sizing: border-box;
    padding-right: 35px;
    padding-left: 35px; /* width: ; */
}

.homebox1 {
    background-color: rgb(12, 12, 12);
}
.homebox2 {
    background-color: black;
    text-align: right;
    clear: both;
}
.homebox2 h1 {
    font-size: 55px;
    margin-top: 70px;
}
.homebox2 button {
    width: 100%;
}
.homebox2 > div > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homebox2 form {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    box-sizing: border-box;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.homebox2 > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.home-boxes {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
}

.home-box-title {
    font-size: 80px;
    font-weight: 1000;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-box-title-re {
    font-size: 90px;
    font-family: vga-font;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.re-text {
    font-family: vga-font;
    background: -webkit-linear-gradient(45deg, #ff8800, #ffc56d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 800px) {
    .home-boxes {
        flex-direction: column;
    }
    .homebox1 {
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        flex-direction: column;
    }
    .homebox2 {
        text-align: left;
    }
    .home-box {
        height: 50vh;
        width: 100%;
    }
    .home-box-title {
        font-size: 60px;
    }

    .home-box-title-re {
        font-size: 75px;
    }

    .homebox2 > div > form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homebox2 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* INPUT FIELD */
.input-field {
    background-color: rgb(17, 17, 17);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(17, 17, 17);
    transition: ease-in-out 150ms;
}

.input-field:hover {
    border: 1px solid rgba(255, 138, 71, 0.368);
}

.input-field:focus {
    border: 1px solid rgb(255, 139, 71);
}

.input-checkbox[type="checkbox"] {
    accent-color: #ff8800;
}

.color-picker {
    width: 50%;
    display: inline-block;
    outline: none;
    /* border-radius: 5px; */
    /* border: 3px solid black; */
    background: none;

    -webkit-appearance: none;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
    /* border-radius: 10px; */
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
    padding: 0;
}
.color-picker::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 5px;
    padding: 0;
}
/* BUTTON FIELD */

.button-field {
    cursor: pointer;
    background-color: rgb(255, 144, 70);
    color: white;
    box-sizing: border-box;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-weight: 1000;
    /* border: 1px solid transparent; */
    transition: ease-in-out 150ms;

    background-position: 0 0;
    background-size: 100% 200%;
    background-position: 0 -100%;
}

.button-field-small {
    font-size: 15px;
}

.button-field:disabled {
    background: rgb(182, 105, 53);
}

.button-field:hover {
    background: rgb(212, 121, 59);
}

.button-field.shadow {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.button-field-grayblack {
    background-color: rgb(49, 49, 49);
}

.button-field-grayblack:hover {
    background-color: rgb(32, 32, 32);
}

.button-field-blurple {
    background-color: rgb(81, 107, 255);
}

.button-field-blurple:hover {
    background-color: rgb(61, 82, 196);
}

.button-field-blue {
    background-color: rgb(81, 185, 255);
}

.button-field-blue:hover {
    background-color: rgb(57, 130, 179);
}

.button-field-red {
    background-color: rgb(255, 81, 81);
}

.button-field-red:hover {
    background-color: rgb(194, 62, 62);
}

.button-field-pink {
    background-color: rgb(249, 81, 255);
}

.button-field-pink:hover {
    background-color: rgb(179, 62, 194);
}

.button-field-green {
    background-color: rgb(41, 243, 0);
}

.button-field-green:hover {
    background-color: rgb(7, 206, 0);
}

.instead-anchor {
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.homepage-links button {
    display: inline-block;
    margin-right: 15px;
    width: 55px;
    height: 55px;
}

.pfp {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

textarea.input-field {
    width: 100%;
    outline: none;
    transition: none;
    resize: vertical;
}

.display-none {
    display: none;
}

.inline-block {
    display: inline-block;
}

.margin-right-10px {
    margin-right: 10px;
}
