.right-click-menu {
    animation: 150ms ease-out 0s 1 fadeIn;
    width: fit-content;
    height: fit-content;
    min-width: 100px;
    min-height: 25px;

    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
    position: fixed;
    z-index: 100000;
}

.rcm-name {
    margin: 0;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.4);
}

.rcm-button {
    width: 100%;
    text-align: left;
    background: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    transition: ease-in-out 150ms;
}

.rcm-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
