body,
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 191, 255);
}

.link:hover {
    text-decoration: underline;
}

textarea {
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff09;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff950b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff950bc2;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff8c;
    margin: 1em 0;
    padding: 0;
}

.toasty {
    z-index: 450545;
}
