body,
html {
    overflow-x: hidden;
    overflow-y: hidden;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 191, 255);
}

.link:hover {
    text-decoration: underline;
}

textarea {
    white-space: pre-wrap;
}
