.privacy {
    width: 100%;
    height: 100vh;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.privacy ul {
    margin-left: -20px;
}

.headline {
    font-size: 55px;
    color: rgb(255, 150, 64);
}
